#documentos,
#documento,
.latest-documentos {
    .title {
        @include title-box($cor-documentos, '../img/bg-documentos.png');
    }
}

.latest-documentos,
.table-documentos {
    a {
        color: $cor-documentos;
    }
}

.latest-documentos {
    >.row {
        margin-bottom: 10px;
    }

    article {
        border-bottom: 2px solid $cor-primaria-cinza;
        margin-bottom: $grid-gutter-width / 2;
    }

    .documento-date-time {
        display: inline-block;
        font-size: 0.85rem;
        margin-bottom: 5px;

        .fas {
            color: $cor-editais;
        }
    }

    .documentos-type {
        display: inline-block;
        font-size: 0.9rem;
        font-weight: bold;
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;

        li {
            display: inline-block;

            a {
                color: #000000;
            }
        }
    }

    .documento-title {
        font-size: 1.3rem;
    }
}

.link-todos-documentos {
    @include link-todos($cor-documentos);
}

.documento {
    margin-bottom: $grid-gutter-width;

    .documento-date-time {
        font-size: 0.95rem;
        font-weight: lighter;

        .fas {
            color: $cor-documentos;
        }
    }

    .documento-body {
        border-left: 1px solid $cor-primaria-cinza;
    }

    .documento-type {
        font-weight: bold;
    }
}
