.acesso-todos-editais {
    &__separador {
        border-color: $cor-editais;
        border-width: 2px;
        margin-top: 0;
        margin-bottom: 10px;
    }

    &__link {
        @include link-todos($cor-editais);
    }
}
