.acesso-todas-noticias {
    &__separador {
        border-color: $cor-primaria-verde;
        border-width: 2px;
        margin-top: 0;
        margin-bottom: 10px;
    }

    &__link {
        @include link-todos($cor-primaria-verde);
    }
}
