.area-social {
    @include menu-barra();
    @include widget();

    margin-bottom: 0;

    @include media-breakpoint-up(lg) {
        text-align: right;
    }

    &__widget {
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }
    }
}
