/*
 Copyright Crunchify
 http://crunchify.me/1VIxAsz
*/

.crunchify-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;

    @include media-breakpoint-up(lg) {
        text-align: right;
        justify-content: flex-end;
    }

    &__item {
        align-items: center;
        display: flex;
        margin-bottom: 5px;
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        font-size: 0.75rem;

        svg {
            fill: #ffffff;
            margin-right: 5px;
            max-height: 16px;
            max-width: 16px;
        }

        &_twitter {
            @extend .btn;
            @include button-variant($cor-twitter, $cor-twitter);
            @extend .btn-sm;
        }

        &_facebook {
            @extend .btn;
            @include button-variant($cor-facebook, $cor-facebook);
            @extend .btn-sm;
        }

        &_googleplus {
            @extend .btn;
            @include button-variant($cor-googleplus, $cor-googleplus);
            @extend .btn-sm;
        }

        &_pinterest {
            @extend .btn;
            @include button-variant($cor-pinterest, $cor-pinterest);
            @extend .btn-sm;
        }

        &_linkedin {
            @extend .btn;
            @include button-variant($cor-linkedin, $cor-linkedin);
            @extend .btn-sm;
        }

        &_whatsapp {
            @extend .btn;
            @include button-variant($cor-whatsapp, $cor-whatsapp);
            @extend .btn-sm;

            @include media-breakpoint-up(md) {
                display: none;
            }
        }
    }
}
