.footer {
    background-color: $cor-rodape;
    margin-top: 20px;
    padding-bottom: 0;
    padding-top: 30px;

    &__info {
        background-color: $cor-rodape-info;
        border-radius: 4px;
        color: #FFFFFF;
        font-size: 90%;
        margin-bottom: 30px;
        margin-top: 100px;
        padding-bottom: 15px;
        padding-top: 15px;

        a {
            color: #dddddd;
        }

        @include media-breakpoint-up(lg) {
            .row {
                display: flex;
                align-items: center;
            }
        }
    }
}
