.header {
    background-color: $cor-primaria-cinza;
    // background: linear-gradient(#F0F2F1, $cor-primaria-cinza); // Padrão do Governo
    @include gradient-x(#FFFFFF, $cor-primaria-cinza);
    margin-bottom: $grid-gutter-width;
    padding-top: 15px;

    &__menus {
        margin-bottom: 30px;
        text-align: center;
    }

    &__content {
        margin-bottom: 30px;

        @include media-breakpoint-up(lg) {
            display: flex;
            align-items: center;
        }
    }

    &__title {
        @include media-breakpoint-down(lg) {
            margin-bottom: $grid-gutter-width;
        }
    }

    &__aside {
        margin-bottom: 17px;
        text-align: center;

        @include media-breakpoint-up(lg) {
            text-align: right;
        }

        form {
            justify-content: right;
        }
    }

    &__barra-servicos {
        align-items: center;
        background-color: $cor-barra-servicos;
        color: #FFFFFF;
        display: flex;
        margin-top: 30px;
        min-height: 30px;
        padding: 3px 0;
    }

    a {
        color: $cor-primaria-verde;

        &:hover {
            color: $cor-primaria-verde;
        }
    }
}
