.menu-relevancia {
    list-style: none;
    margin: 0;
    margin-bottom: 45px;
    padding: 0;

    > li {
        align-items: center;
        border-top: 1px solid $menu-border;
        display: flex;
        font-size: 14px;
        min-height: 30px;

        > a {
            color: #03316F;
            display: block;
        }

        &:last-child {
            border-bottom: 1px solid $menu-border;
        }

        &.current-menu-item {
            a {
                font-weight: bold;
            }
        }
    }

    @include media-breakpoint-down(lg) {
        margin-bottom: 15px;

        > li {
            &:first-child {
                border: none;
            }
        }
    }
}
