.menu-campi {
    background-color: $menu-campi-fundo;
    border-radius: 4px;
    list-style: none;
    margin: 0;
    padding: 10px;
    text-align: center;

    li {
        border-right: 1px solid #ccc;
        display: inline-block;
        margin-bottom: 5px;
        padding: 0 10px;

        &:last-child {
            border-right: none;
        }

        a {
            color: $cor-barra-servicos;
        }
    }

    @include media-breakpoint-down(lg) {
        margin-top: $grid-gutter-width;
    }

    @include media-breakpoint-up(md) {
        padding: 10px;
    }

    @include media-breakpoint-up(lg) {
        padding: 10px;

        &:after {
            content: '';
            position: absolute;
            border-style: solid;
            border-width: 15px 25px 15px 0;
            border-color: transparent $menu-campi-fundo;
            display: block;
            width: 0;
            z-index: 1;
            margin-top: -15px;
            left: -10px;
            top: 50%;
        }
    }
}
