.menu-subpages {
    margin-top: 5px;

    &__item {
        color: #ffffff;
        margin-bottom: 5px;
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        background-color: $cor-primaria-azul;
        color: #ffffff;

        &:hover,
        &:active {
            background-color: lighten($cor-primaria-azul, 5%);
            color: #ffffff;
        }

        &:focus {
            background-color: #ffffff;
            color: $cor-primaria-azul;
        }
    }
}
