.menu-rodape {
    @extend .row;
    display: block;
    list-style: none;
    margin: 0 auto;
    padding: 0;

    > .menu-item {
        @extend .col-12;
        @extend .col-md-6;
        @extend .col-lg-4;
        @extend .col-xl-3;
        border-left: 1px dotted #80A887;
        display: inline-block;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 46px;
        padding-left: 10px;
        text-transform: uppercase;
        vertical-align: top;
    }

    .sub-menu {
        list-style: none;
        padding: 0;
        margin-top: 18px;

        > .menu-item {
            font-size: 13px;
            font-weight: normal;
            text-transform: none;
        }
    }

    a {
        color: #FFFFFF;
    }
}
