.menu-servicos {
    font-size: 0.75rem;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;

    li {
        border-right: 1px solid #cccccc;
        display: inline-block;
        margin-right: 10px;
        padding-right: 10px;

        &:last-child {
            border: none;
            margin-right: 0;
            padding-right: 0;
        }

        a {
            color: #FFFFFF;

            &:hover,
            &:focus,
            &:active {
                color: #FFFFFF;
            }
        }
    }

    @include media-breakpoint-up(md) {
        text-align: right;
    }
}
