.menu-atalhos {
    @include menu-barra();

    @include media-breakpoint-up(lg) {
        text-align: left;
    }

    @include media-breakpoint-down(sm) {
        display: none;
    }

    li {
        .badge {
            font-size: 10px;
        }
    }
}
