.menu-acessibilidade {
    @include menu-barra();

    margin-top: 10px;
    text-transform: uppercase;

    @include media-breakpoint-up(lg) {
        margin-top: 0;
        text-align: right;
    }

    a {
        text-decoration: underline;
        text-decoration-style: dotted;
    }
}
