.menu-principal {
    list-style: none;
    padding: 0;

    .menu-item {
        > a {
            border-bottom: 1px solid $menu-border;
        }
    }

    > .menu-item {
        > a {
            background: $menu-fundo-nivel-1-2;
            border-top: 4px solid $cor-primaria-verde;
            color: #00500F;
            display: block;
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
            min-height: 47px; // As bordas contam como tamanho do elemento, por isso não é 42px como diz o guia.
            margin-top: 30px;
            padding-left: 7px;
            padding-top: 3px;
            padding-bottom: 3px;
        }
    }

    > .menu-item-has-children,
    > .menu-item-has-children > .sub-menu > .menu-item-has-children {
        > a {
            padding-right: 15px;

            &:after {
                /* symbol for "opening" panels */
                @extend .fas;
                content: fa-content($fa-var-angle-down);
                float: right;
                font-size: 1.1rem;
                padding: 0 2px 0 0;
                margin-right: -16px;
            }

            &.collapsed:after {
                /* symbol for "collapsed" panels */
                content: fa-content($fa-var-angle-right);
            }
        }
    }

    > .menu-item-has-children > .sub-menu {
        list-style: none;
        padding: 0;

        .menu-item {
            > a {
                color: #172938;
                display: block;
                font-size: 14px;
                min-height: 30px;
                padding-left: 10px;
                padding-top: 3px;
                padding-bottom: 3px;
            }
        }

        .current-menu-item {
            > a {
                font-weight: bold;
            }
        }

        > .menu-item-has-children {
            border-bottom: 1px solid $menu-inner-border;

            > a {
                background-color: $menu-fundo-nivel-1-2;
                border-top: 2px solid $menu-inner-border;
                border-bottom: 1px solid $menu-inner-border;
                color: #172938;
                font-size: 14px;
                font-weight: 600;
            }

            > .sub-menu {
                list-style: none;
                padding: 0;

                > .menu-item {
                    > a {
                        // background-color: #D9DADC;
                        border-bottom: 1px solid $menu-inner-border;
                        font-size: 13px;
                        padding-left: 20px;
                    }
                }

                .current-menu-parent {
                    font-weight: bold;
                }

                +.menu-item-has-children {
                    > a {
                        border-top: none;
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(lg) {
        > .menu-item {
            > a {
                margin-top: 0;
            }
        }
    }
}
