.noticia {
    $n: &;

    &__img {
        margin-bottom: 15px;
    }

    &__titulo {
        color: #172938;
        font-size: 16px;
        font-weight: bold;
        line-height: 21px;
        margin-top: 0;
        margin-bottom: 15px;

        > a {
            color: #172938;
        }
    }

    &__cartola {
        color: $cor-secundaria-azul-claro;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    &__data {
        color: $cor-secundaria-azul-claro;
        font-size: 12px;
        margin-bottom: 5px;
    }

    &__resumo {
        color: #172938;
        font-size: 14px;
        line-height: 21px;
    }

    &_destaque {
        #{$n}__img {
            @include media-breakpoint-up(lg) {
                float: left;
                margin-bottom: 0;
                margin-right: 10px;
                max-width: 40%;
            }
        }

        #{$n}__titulo {
            font-size: 26px;
            line-height: 30px;
            margin-bottom: 5px;
        }

        #{$n}__resumo {
            font-size: 16px;
        }
    }
}
