.post {
    &__category {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0;
    }

    &__title {
        color: #172938;
        line-height: 37px;
        font-size: 34px;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    &__separator {
        margin: 0;
        margin-bottom: 10px;
    }

    &__date {
        color: $cor-secundaria-azul-claro;
        font-size: 12px;
    }

    &__thumb {
        width: 50%;
        height: auto;
        float: left;
        margin-right: 30px;
        margin-bottom: 15px;
    }

    &__content {
        margin-bottom: 45px;
        margin-top: 20px;
        font-size: 15px;
        line-height: 21px;
        color: #172938;

        h1, .h1,
        h2, .h2,
        h3, .h3 {
            margin-top: 20;
            margin-bottom: 10px;
        }

        h4, .h4,
        h5, .h5,
        h6, .h6 {
            margin-top: 10px;
            margin-bottom: 7px;
        }

        table {
            @extend .table;
        }
    }

    &__tags-separator {
        border-color: $cor-primaria-verde;
        border-width: 3px;
    }

    &__tags {
        font-size: 11px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__tag {
        display: inline-block;
        margin-right: 10px;
    }
}
