@mixin menu-barra() {
    font-size: 10px;
    list-style: none;
    padding-left: 0;

    li {
        display: inline;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
}

@mixin widget() {
    margin-bottom: $grid-gutter-width / 2;
}

@mixin title-box($color: $cor-primaria-verde, $image-url: '') {
    background-color: $cor-primaria-cinza;
    border-top: 5px solid $color;
    padding: 15px 10px 25px 15px;

    @if $color != $cor-primaria-verde {
        color: $color;
    }

    @if $image-url != '' {
        background-image: url($image-url);
        background-position: center right;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

@mixin link-todos($cor) {
    color: $cor;
    font-size: 14px;
    text-transform: uppercase;

    &:after {
        @extend .fas;
        content: fa-content($fa-var-angle-right);
        color: #fff;
        background-color: $cor;
        padding: 3px 5px;
        border-radius: 4px;
        margin-left: 5px;
    }
}
