$cor-primaria-verde:         #195128;
$cor-primaria-amarelo:       #F7C514;
$cor-primaria-azul:          #3E67B1;
$cor-primaria-cinza:         #ECEDF1;

$cor-secundaria-laranja:     #F18F20;
$cor-secundaria-verde:       #18A54B;
$cor-secundaria-branco:      #FFFFFF;
$cor-secundaria-azul-escuro: #21376C;
$cor-secundaria-amarelo:     #FDF499;
$cor-secundaria-cinza:       #454546;
$cor-secundaria-azul-claro:  #204C90;
$cor-secundaria-vermelho:    #A41E22;

$cor-barra-servicos:         #00420C;

$cor-rodape:                 #00510F;
$cor-rodape-info:            #00420c;

$menu-border:                #D6DCD7;
$menu-inner-border:          #00520F;
$menu-fundo-nivel-1-2:       #EAEBEE;

$menu-campi-fundo:           #DFF7E4;

$cor-agenda:                 #B97A00;
$cor-concursos:              #164EAB;
$cor-cursos:                 #643C67;
$cor-documentos:             #753900;
$cor-editais:                #3B7390;
$cor-estudantes:             #8A001E;
$cor-galeria:                #017B16;
$cor-ingresso:               #017B16;
$cor-servidores:             #806938;

$cor-concursos-tab:          #E3F4FF;
$cor-concursos-tab-active:   #C0E1F3;

$cor-twitter:                #1da1f2;
$cor-facebook:               #3b5998;
$cor-googleplus:             #dd4b39;
$cor-pinterest:              #bd081c;
$cor-linkedin:               #0077b5;
$cor-whatsapp:               #25D366;
